.contacto-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .contacto-izquierda,
    .contacto-derecha {
        width: 48%;
    }

    h2 {
        margin-bottom: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;

        .input-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        input,
        textarea {
            width: 48%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        textarea {
            width: 100%;
            height: 100px;
        }
    }
    }
}
