<div class="contacto-container">
    <div class="contacto-izquierda">
        <h2 class="text-center">Escríbenos</h2>
        <div class="form-group">
            <div class="input-row">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            </div>
            <div class="input-row">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Asunto">
            </div>
            <div class="input-row">
            <textarea placeholder="Mensaje"></textarea>
            </div>
        </div>
    </div>
    <div class="contacto-derecha">
        <h2 class="text-center">Oficinas</h2>
        <p>Dirección: Avenida Miguel de Cervantes, León, Guanajuato, México</p>
        <p>Teléfono: 4771234567</p>
        <p>Email: contactoejemplo.com</p>
        <p>Horario: Lunes a Viernes, 9am - 6pm</p>
    </div>
</div>
